# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.idea
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

#related to publications data
matsci/project2017/double-perovskite/DFT-plotting/BYOO-24coplanar.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-Hubbard-fixexp-u0.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-Hubbard-fixexp-u1.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-Hubbard-fixexp-u2.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-Hubbard-fixexp-u3.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-Hubbard-fixexp-u4.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-Hubbard-fixexp-u5.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-SOC-fixexp-SOC10.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-SOC-fixexp-SOC12.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-SOC-fixexp-SOC14.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-SOC-fixexp-SOC16.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-SOC-fixexp-SOC18.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-SOC-fixexp-SOC20.txt
matsci/project2017/double-perovskite/24CoplanarSpin-MAGMOM/24MAGMOM.txt
matsci/project2017/double-perovskite/DFT-plotting/24coplanar.pdf
matsci/project2017/double-perovskite/DFT-plotting/24coplanar_newlabel.pdf
matsci/project2017/double-perovskite/DFT-plotting/BYOO-coplanar-rotation-degree-energy.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-coplanar-rotation.pdf
matsci/project2017/double-perovskite/DFT-plotting/BYOO-pressure-fixexp-0.98Volume.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-pressure-fixexp-1.00Volume.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-pressure-fixexp-1.02Volume.txt
matsci/project2017/double-perovskite/DFT-plotting/BYOO-pressure-fixexp-1.04Volume.txt
matsci/project2017/double-perovskite/DFT-plotting/HubbardU-dependent.pdf
matsci/project2017/double-perovskite/DFT-plotting/HubbardU-energydiff.pdf
matsci/project2017/double-perovskite/DFT-plotting/SOC-dependent.pdf
matsci/project2017/double-perovskite/DFT-plotting/SOC-modulation-energydiff.pdf
matsci/project2017/double-perovskite/DFT-plotting/SOC-modulation-energydiff0-2.pdf
matsci/project2017/double-perovskite/DFT-plotting/backup.ipynb
matsci/project2017/double-perovskite/DFT-plotting/soc.py
matsci/project2017/double-perovskite/DFT-plotting/volume-dependent.pdf
matsci/project2017/double-perovskite/DFT-plotting/volume-energydiff.pdf
matsci/project2017/double-perovskite/DFT-plotting/volume-energydiffU1.pdf
matsci/project2017/double-perovskite/DFT-plotting/volume-energydiffU2.pdf
matsci/project2018/thermal-togo-abel/source-db/phonon-database/*.tar.lzma
matsci/project2017/LiOsO3-SweegohProject/R3c/PDOS-Os.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/TDOS-inset-PDOS-orbital.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/TDOS-inset-PDOS.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/TDOS-inset.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/TDOS.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/angle-gamma-arrow.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/calypso-10atom-refined/0GPa-calypso.dat
matsci/project2017/LiOsO3-SweegohProject/R3c/calypso-10atom-refined/10GPa-calypso.dat
matsci/project2017/LiOsO3-SweegohProject/R3c/calypso-suppl.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/combine-angle-gamma/
matsci/project2017/LiOsO3-SweegohProject/R3c/enthalpy-DFT-SOC-type4U2-integrated.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/enthalpy-sDFT-SOC-U2-integrated.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/enthalpy-sDFT-SOC-U2.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/enthalpy-sDFT-SOC.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/enthalpy-sDFT.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/enthalpy.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/gamma-frequency.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/phase-diagram-sPBEUSOC.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/phase-diagram.pdf
matsci/project2017/LiOsO3-SweegohProject/R3c/sDFT-SOC-U-verification/Pbnm-type4-U2-SOC-enthalpy.dat
matsci/project2017/LiOsO3-SweegohProject/R3c/sDFT-SOC-U-verification/Pbnm-type4-U2-enthalpy.dat
matsci/project2017/LiOsO3-SweegohProject/R3c/sDFT-SOC-U-verification/R-3c-type4-U2-SOC-enthalpy.dat
matsci/project2017/LiOsO3-SweegohProject/R3c/sDFT-SOC-U-verification/R-3c-type4-U2-enthalpy.dat
matsci/project2017/LiOsO3-SweegohProject/R3c/sDFT-SOC-U-verification/R3c-type4-U2-SOC-enthalpy.dat
matsci/project2017/LiOsO3-SweegohProject/R3c/sDFT-SOC-U-verification/R3c-type4-U2-enthalpy.dat
matsci/project2017/LiOsO3-SweegohProject/R3c/sDFT-SOC-U-verification/scpfromvirtualbox
matsci/project2017/LiOsO3-SweegohProject/R3c/sDFT-SOC-U-verification/type4-U-SOC-test.txt
matsci/project2017/LiOsO3-SweegohProject/R3c/sDFT-SOC-U-verification/type4-U-test.txt
matsci/project2017/double-perovskite/DFT-plotting/*csv
matsci/project2017/LiOsO3-SweegohProject/R3c/0
matsci/project2017/LiOsO3-SweegohProject/R3c/20
matsci/project2017/LiOsO3-SweegohProject/R3c/40
matsci/project2017/LiOsO3-SweegohProject/R3c/60
matsci/project2017/BaPd2As2-Mahmoud/Tc-fig-for-referee.pdf
machine-learning/McKinney-pythonbook2013/*
